.mainWrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    marigin: 20px
}
.banner{
    text-align: center;
    align-content: center;
    line-height: 75px;
    height: 75px;
    margin: 10px;
    background: #F7F6EF;
    font-size: large;
    color: #A57C46;
}
.cardContainer{
    margin: 20px;
    display: flex;
}
.card{
    background: #FAF9F6;
    width: 350px;
    height: 500px;
    border-radius: 10%;
    margin: 20px;
}

.card img{
    border-radius: 10%;
    width: 100%;
    height: 300px;
    object-fit: cover;
}
table{
    padding: 10px;
}
td{
    border-bottom: 1pt solid black;
}
th{
    border-bottom: 1pt solid black;
    text-align: left;
}